@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face {
  font-family: 'cocogoose';
  src: url(fonts/cocogoose-pro.regular.ttf);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

// declaration of variables

$primaryColor: #272a31;
$secondaryColor: #d3d3d3;
$headingColor: #ec5242;
$headingSize: 2.5rem;
$heading2Size: 1.5rem;
$paragraphSize: 1rem;
$iconSize: 2rem;
$primaryFont: 'cocogoose', sans-serif;
$secondaryFont: 'Lato', sans-serif;
$containerBg: rgb(228, 228, 228);
$containerBorder: rgb(247, 243, 243);

// navigation bar

header {
  display: flex;
  justify-content: flex-start;

  a.logo {
    display: none;
  }

  i.menu-btn {
    font-size: 4rem;
  }
}
// First section
#showcase::before {
  background: url(/images/homepage-bg3.jpg);
  content: "";
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.15;
  z-index: -1;
  filter: grayscale(50%);
}

#showcase {
  margin-top: 3rem;
  height: 79vh;

  q {
    font-family: $secondaryFont;
    color: $headingColor;
    font-size: 1.5rem;
  }

  h1 {
    font-family: $primaryFont;
    font-weight: bold;
    font-size: $headingSize;
    background-image: url(/images/header-bg.jpg);
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
  }

  .showcase-text {
    margin-bottom: 0.5em;
    border: 0.4em solid $containerBorder;
    background-color: $containerBg;
  }

  p.main-paragraph {
    font-family: $secondaryFont;
    font-size: $paragraphSize;
    color: $primaryColor;
    font-weight: 600;
  }

  span.showcase-slogan {
    font-family: $primaryFont;
    color: $primaryColor;
    font-size: 1.2rem;
  }

  p.showcase-paragraph {
    font-family: $secondaryFont;
    color: $primaryColor;
    font-size: 1rem;
    font-weight: 600;
  }
}
// Second section

#schedule {
  background-color: $primaryColor;
  padding: 3em 0.5em;

  h3.underline-small {
    text-transform: capitalize;
    text-align: center;
    position: relative;
    padding-bottom: 0.5em;
    color: white;
  }

  .underline-small::after {
    content: '';
    height: 0.15em;
    width: 15%;
    background: #f24432;
    position: absolute;
    left: calc(50% - 9%);
    bottom: -5px;
  }

  .schedule-card {
    display: flex;
    padding: 0 0.5em;
    align-items: center;
    border-radius: 8px;
    background-color: rgba(87, 87, 87, 0.5);
    margin: 0.8em 0;
    justify-content: center;
    width: 95%;

    i {
      color: $primaryColor;
      font-size: $iconSize;
    }

    h4 {
      color: $headingColor;
      font-family: $secondaryFont;
      font-size: $heading2Size;
      font-weight: bold;
    }

    p {
      color: white;
    }
  }

  .btn-schedule {
    background-color: $headingColor;
    font-family: $secondaryFont;
    font-size: 1.3rem;
    padding: 1.6em;
  }

  .btn-schedule:hover {
    background-color: #f09186;
  }
}
// Third section

#artists {
  .artists {
    background-color: white;

    h3.underline-small {
      text-transform: capitalize;
      text-align: center;
      position: relative;
      padding-bottom: 0.5em;
      color: $primaryColor;
    }

    .underline-small::after {
      content: '';
      height: 0.15em;
      width: 15%;
      background: #f24432;
      position: absolute;
      left: calc(50% - 9%);
      bottom: -5px;
    }

    .artist-description {
      margin-left: 1em;
    }

    .artist {
      max-width: 100%;
      height: auto;
    }

    i {
      position: relative;
      font-family: $secondaryFont;
      color: $headingColor;
      padding-bottom: 0.5em;
    }

    i.underline-small2::after {
      content: '';
      height: 0.2em;
      width: 50%;
      background: $secondaryColor;
      position: absolute;
      left: 0;
      bottom: -5px;
    }

    p {
      font-family: $secondaryFont;
      font-size: 1rem;
    }

    .more-text {
      display: none;
    }

    .more-text.show {
      display: inline;
    }

    .btn-more {
      img {
        width: 5%;
        padding: 0.2em;
        color: white;
      }
    }
  }
}
// footer

footer {
  background-color: $secondaryColor;

  a.logo {
    font-family: $primaryFont;
    font-size: 1.4rem;
  }

  span.footer-text {
    font-family: $secondaryFont;
    font-weight: bold;
  }

  i {
    font-size: $iconSize;
    padding: 0.2em;
    color: $primaryColor;
  }
}

//  About page

#umuhanzi {
  h3.underline-small {
    text-transform: capitalize;
    text-align: center;
    position: relative;
    padding-bottom: 0.2em;
    color: $primaryColor;
  }

  .underline-small::after {
    content: '';
    height: 0.15em;
    width: 15%;
    background: #f24432;
    position: absolute;
    left: calc(50% - 9%);
    bottom: -5px;
  }
}

#festival {
  h3.underline-small {
    text-transform: capitalize;
    text-align: center;
    position: relative;
    padding-bottom: 0.2em;
    color: $primaryColor;
  }

  .underline-small::after {
    content: '';
    height: 0.15em;
    width: 15%;
    background: #f24432;
    position: absolute;
    left: calc(50% - 9%);
    bottom: -5px;
  }

  padding: 1.5em 0;

  img {
    max-width: 100%;
  }

  .showcase-text {
    margin-bottom: 0.5em;
    border: 0.4em solid $containerBorder;
    background-color: $containerBg;
  }

  p.main-paragraph {
    font-family: $secondaryFont;
    font-size: $paragraphSize;
    color: $primaryColor;
  }
}
