@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@font-face {
  font-family: 'cocogoose';
  src: url(fonts/cocogoose-pro.regular.ttf);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

header {
  position: relative;
  top: 2%;
  left: 2%;
}

header i.menu-btn {
  font-size: 3rem;
  cursor: pointer;
}

header .header-bar {
  background-color: #272a31;
  color: white;
  font-size: 0.8rem;
  display: none;
}

nav {
  position: fixed !important;
  width: 100vw;
  top: 0;
  left: -100000px;
  -webkit-transition: all 3s 0ms ease-in-out;
  transition: all 3s 0ms ease-in-out;
  height: 100vh;
}

nav i.close-btn {
  font-size: 2.2rem;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.2em 0.3em;
}

nav .nav-item {
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
}

nav .nav-item .nav-link:hover {
  color: #ec5242 !important;
}

nav .nav-item .nav-link:active {
  color: #ec5242 !important;
}

nav .nav-item .nav-link:focus {
  color: #ec5242 !important;
}

nav .nav-item .btn-menu {
  border: 2px solid #ec5242;
  color: #ec5242 !important;
  padding: 0.9em;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

nav .nav-item .btn-menu:hover {
  color: white !important;
  background-color: #ec5242;
}

nav .nav-item .btn-menu2 {
  border: 2px solid #ec5242;
  color: white !important;
  background-color: #ec5242;
  padding: 0.9em;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

nav .nav-item .btn-menu2:hover {
  background-color: white;
  color: #ec5242;
}

a.logo {
  display: none;
}

#showcase::before {
  background: url("./images/homepage-bg3.jpg") no-repeat center;
  content: "";
  background-size: cover;
  padding-top: 90px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: -100px;
  left: 0;
  opacity: 0.15;
  z-index: -1;
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
}

#showcase {
  margin-top: 2rem;
  margin-bottom: 1.7em;
  height: 100vh;
}

#showcase q {
  font-family: "Lato", sans-serif;
  color: #ec5242;
  font-size: 1.5rem;
}

#showcase h1 {
  font-family: "cocogoose", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  background-image: url("./images/header-bg.jpg");
  background-size: cover;
  -webkit-background-clip: text;
  color: transparent;
}

#showcase .showcase-text {
  margin-bottom: 0.7em;
  border: 0.4em solid #f7f3f3;
  background-color: #e4e4e4;
}

#showcase p.main-paragraph {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #272a31;
  font-weight: 600;
}

#showcase span.showcase-slogan {
  font-family: "cocogoose", sans-serif;
  color: #272a31;
  font-size: 1.2rem;
}

#showcase p.showcase-paragraph {
  padding: 0.9em 0;
  font-family: "Lato", sans-serif;
  color: #272a31;
  font-size: 1rem;
  font-weight: 600;
}

#schedule {
  background-color: #272a31;
  padding: 3em 0.5em;
}

#schedule h3.underline-small {
  text-transform: capitalize;
  text-align: center;
  position: relative;
  padding-bottom: 0.5em;
  color: white;
}

#schedule .underline-small::after {
  content: '';
  height: 0.15em;
  width: 15%;
  background: #f24432;
  position: absolute;
  left: calc(50% - 8%);
  bottom: -5px;
}

#schedule .schedule-card {
  display: -webkit-box;
  display: flex;
  padding: 0 0.5em;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  background-color: rgba(87, 87, 87, 0.5);
  margin: 0.8em 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 95%;
}

#schedule .schedule-card i {
  color: #272a31;
  font-size: 2rem;
}

#schedule .schedule-card h4 {
  color: #ec5242;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

#schedule .schedule-card p {
  color: white;
}

#schedule .btn-schedule {
  background-color: #ec5242;
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
  padding: 1.6em;
}

#schedule .btn-schedule:hover {
  background-color: #f09186;
}

#artists .artists {
  background-color: white;
}

#artists .artists h3.underline-small {
  text-transform: capitalize;
  text-align: center;
  position: relative;
  padding-bottom: 0.5em;
  color: #272a31;
}

#artists .artists .underline-small::after {
  content: '';
  height: 0.15em;
  width: 15%;
  background: #f24432;
  position: absolute;
  left: calc(50% - 8%);
  bottom: -5px;
}

#artists .artists .artist-description {
  margin-left: 1em;
}

#artists .artists .artist {
  max-width: 100%;
  height: auto;
}

#artists .artists i {
  position: relative;
  font-family: "Lato", sans-serif;
  color: #ec5242;
  padding-bottom: 0.5em;
}

#artists .artists i.underline-small2::after {
  content: '';
  height: 0.2em;
  width: 50%;
  background: #d3d3d3;
  position: absolute;
  left: 0;
  bottom: -5px;
}

#artists .artists p {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

#artists .artists .more-text {
  display: none;
}

#artists .artists .more-text.show {
  display: inline;
}

#artists .artists .btn-more img {
  width: 5%;
  padding: 0.2em;
  color: white;
}

footer a.logo-footer {
  font-family: "cocogoose", sans-serif;
  font-size: 1.4rem;
}

footer span.footer-text {
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

#home-footer.logo,
.icons {
  color: white;
}

.icons {
  font-size: 2rem;
  padding: 0.2em;
}

#umuhanzi h1 {
  font-family: "cocogoose", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  color: #ec5242;
}

#umuhanzi .underline-small {
  text-transform: capitalize;
  text-align: center;
  position: relative;
  padding-bottom: 0.2em;
  color: #272a31;
}

#umuhanzi .about-1.underline-small::after {
  content: '';
  height: 0.15em;
  width: 15%;
  background: #f24432;
  position: absolute;
  left: calc(50% - 8%);
  bottom: -5px;
}

#festival {
  border-bottom: 3px solid #d3d3d3;
  padding: 1.5em 0;
}

#festival .about-2.underline-small {
  text-transform: capitalize;
  text-align: center;
  position: relative;
  padding-bottom: 0.2em;
  color: #272a31;
}

#festival .about-2.underline-small::after {
  content: '';
  height: 0.15em;
  width: 15%;
  background: #f24432;
  position: absolute;
  left: calc(50% - 9%);
  bottom: -5px;
}

#festival .festiv-img {
  max-width: 100%;
}

#festival .showcase-text {
  margin-bottom: 0.5em;
  border: 0.4em solid #f7f3f3;
}

#festival p.main-paragraph {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #272a31;
}

#other-projects {
  background-color: #d3d3d3;
}

#other-projects .project-paragraph {
  font-size: 1.2rem;
}

#other-projects .about-3.underline-small {
  text-transform: capitalize;
  text-align: center;
  position: relative;
  padding-bottom: 0.2em;
  color: #272a31;
}

#other-projects .about-3.underline-small::after {
  content: '';
  height: 0.15em;
  width: 15%;
  background: #f24432;
  position: absolute;
  left: calc(50% - 8%);
  bottom: -5px;
}

#other-projects .project-img {
  position: relative;
  width: 500px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#other-projects .project-img .overlay {
  background-color: #ec5242;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#other-projects .project-img h3,
#other-projects .project-img span {
  z-index: 1111;
}

#other-projects .project-img h3 {
  font-family: "cocogoose", sans-serif;
  font-size: 2.2rem;
  text-transform: capitalize;
}

#other-projects .project-img span {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

#other-projects .project-img-1 {
  background: url("images/iwacu-muzika2.jpg") 0 0 no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 350px;
  overflow: hidden;
  color: #f8f8f8;
}

#other-projects .project-img-1:hover {
  z-index: 111;
}

#other-projects .project-img-1:hover .overlay {
  display: none;
}

#other-projects .project-img-1:hover h3,
#other-projects .project-img-1:hover span {
  display: none;
}

#other-projects .project-img-2 {
  background: url("images/homepage-bg.jpg") 0 0 no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 350px;
  overflow: hidden;
  color: #fff;
}

#other-projects .project-img-2:hover {
  z-index: 111;
}

#other-projects .project-img-2:hover .overlay {
  display: none;
}

#other-projects .project-img-2:hover h3,
#other-projects .project-img-2:hover span {
  display: none;
}

#about-footer.logo {
  color: #272a31;
}

.icons-2 {
  color: #272a31;
}

@media only screen and (min-width: 768px) {
  header {
    position: relative;
    top: 0;
    left: 0;
    z-index: 111;
    height: 25px;
  }

  header i.menu-btn {
    display: none;
  }

  header .header-bar {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: inherit;
    padding: 0.2em 6em;
  }

  header .header-bar a {
    color: white;
    margin: 0 0.6em;
  }

  header .log-out {
    text-decoration: none;
  }

  header h6 {
    margin: 0 0.5em;
  }

  nav {
    position: relative !important;
    left: 0;
    height: auto;
    -webkit-transition: none;
    transition: none;
  }

  nav i.close-btn {
    display: none;
  }

  nav a.logo {
    display: inline;
    font-family: "cocogoose", sans-serif;
    font-size: 1.5rem;
  }

  nav .md-orange {
    color: #ec5242;
    font-size: 2rem;
  }

  #showcase::before {
    bottom: -150px;
  }

  #showcase {
    height: 92vh;
  }

  #showcase q {
    font-size: 2rem;
  }

  #showcase h1 {
    padding: 0.7em 0;
    font-size: 3rem;
  }

  #showcase p.main-paragraph {
    font-size: 1.5rem;
  }

  #showcase span.showcase-slogan {
    font-size: 1.4rem;
  }

  #showcase p.showcase-paragraph {
    font-size: 1.2rem;
  }

  #schedule .schedule-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    width: 30%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  #schedule .schedule-card p {
    text-align: center;
  }

  #schedule .schedule-card i {
    font-size: 4rem;
  }

  #schedule .btn-schedule {
    background-color: transparent;
    font-family: "Lato", sans-serif;
    font-size: 1.3rem;
    padding: 0;
    text-decoration: underline;
  }

  #schedule .btn-schedule:hover {
    background-color: transparent;
  }

  #artists .more-text {
    display: -webkit-box !important;
    display: flex !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }

  #artists .btn-menu {
    display: none;
  }

  #umuhanzi span {
    font-size: 1.2rem;
  }

  #festival .showcase-text {
    margin-bottom: 0.5em;
    border: 0.4em solid #f7f3f3;
  }

  #festival p.main-paragraph {
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    color: #272a31;
  }

  #other-projects {
    padding: 0.8em 0;
  }

  #other-projects #other-projects.p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 350px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 1020px) {
  html {
    font-size: 17px;
  }
}
